body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background: #001c66;
    color: white;
    padding: 20px;
}


.logo img {
    width: 200px;
}

.parceiros {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.parceiros img {
    width: 100px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.produtos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.mapa-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.mapa-contato h2 {
    margin-bottom: 10px;
}

footer {
    background: #001c66;
    color: white;
    padding: 20px;
}

.mapa-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 80%;
    height: 300px;
    border: none;
}

.contato {
    margin-top: 20px;
}


